:root {
  --light: #F0D9B5;
  --dark: #8b4513ca;
  --sel: #fffa8b;

  --viewWH: min(90vmin, 512px);
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  margin: 0;
  background: #201f1f;
  color: #eee;
  justify-content: space-around;
}

.container {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 16px;
}

shah {
    color: rgba(231, 154, 11, 0.871);
    font-size: 1.15em;
}

#shah {
    color:#c8c7c7;
}

.navigator {
    background-color: rgb(82, 83, 81);
    width: 30vh;
    height: var(--viewWH);
}

.game-area {
  display: flex;
  justify-content: center;
}

.board {
    transform: translateZ(0);
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(8, 1fr);
  border: 5px solid #443;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  background: #695f5ff6;
  height: var(--viewWH);
  width: var(--viewWH);
}

.piece-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    transform-origin: center center;
    transition: transform 0.18s ease-out;
}

.sq {
  position: relative;
  transform: translateZ(0);
 width: 100%;
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--viewSQR) * 0.55);
  user-select: none;
  cursor: pointer;

  background-size: cover;
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.sq.light {
  background-color: var(--light);
}

.sq.dark {
  background-color: var(--dark);
}

.sq.sel {
  border: 2px solid rgba(172, 229, 190, 0.9);
  border-radius: 50px;
}

.sq.move {
  position: relative;
}

.sq.move::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: rgba(0, 0, 0, 0.35); /* muda a cor se quiser */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.sq.move-capture {
  position: relative;
}

.sq.move-capture::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  background: rgba(255, 0, 0, 0.130);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  pointer-events: none;

  animation: capturePulse 1s ease-in-out infinite;
}

.captured-anim {
  animation: pieceCaptureSpin 0.41s ease-out forwards;
  z-index: 5;
  position: relative;
}

#back-menu {
  display: none;
}


.info {
  min-width: 260px;
  max-width: 320px;
}

.info h1 {
  margin: 0 0 8px 0;
  font-size: 20px;
}

#status {
  font-size: 13px;
  color: #ccc;
}

.controls {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

button {
    background: #a3813eee; /* verde estilo chess.com */
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    border: none;
    color: #fafcfa;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;

    border: 2px solid rgba(233, 232, 232, 0.3);

    /* leve sombra */
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.351);

    /* suavidade */
    transition: background-color 0.15s ease, 
                transform 0.1s ease, 
                box-shadow 0.15s ease;
}

button:hover {
    background-color: #a3813ebb;  /* ligeiramente mais escuro */
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.35);
}

button:active {
    transform: translateY(0px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    background-color: #936d38b5;
}

.fen-wrapper {
  margin-top: 12px;
}

.fen {
  margin-top: 4px;
  font-family: monospace;
  background: #111;
  padding: 8px;
  border-radius: 6px;
  font-size: 12px;
  word-wrap: break-word;
  width: 390px;
}

.note {
  margin-top: 10px;
  font-size: 12px;
  color: #bbb;
}

@keyframes capturePulse {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes pieceCaptureSpin {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  70% {
    transform: scale(1.3) rotate(45deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(0) rotate(80deg);
    opacity: 0;
  }
}

@keyframes pieceMoveSoft {
  0% {
    transform: scale(0.9) translateY(-4px);
  }
  70% {
    transform: scale(1.05) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

#tempo {
    display: flex;
    background-color: #443;
    padding: 5px;
    justify-content: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}
#clock-w {
    display: inline-flex;
    background-color: white;
    color: black;
    font-size: 2em;
    width: 49%;
    justify-content: center;
}

#clock-b {
    display: inline-flex;
    background-color: black;
    color: white;
    font-size: 2em;
    width: 49%;
    justify-content: center;
}