.navigator {
  display: flex;
  flex-direction: column;
  background-color: #1a1919;
  width: clamp(150px, 15vw, 250px);
  height: auto;

  min-height: 100vh;
  min-width: 18vw;
  border-right: 1px solid #ffffff18;

  ul {
    padding: 0;
    margin-block-start: 0;
  }

  li {
    list-style: none;
  }

  .logo {
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .logo img {
    max-width: 100%;
    background-color: rgba(69, 70, 69, 0.241);
  }

  .abas {
    text-align: right;

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.948);
      font-size: 1.5em;
    }

    h4 {
      padding-right: 1vw;
      padding-bottom: 5vh;
      margin: 0;
      transition: background-color 210ms ease-in;
    }
    
  }

  #nav_highlight {
    background-color: #161616;
  }

  .abas h4:hover {
    background-color: rgba(69, 70, 69, 0.113);
    transition: background-color 100ms ease-in-out;
  }
  
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .navigator {
    order: 99;
    min-height: auto;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ffffff18;
  }
}